.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .login-text {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
    }

    .home-logo {
        width: 50px;
        height: 50px;
        margin-left: 1rem;
    }
}